<strong>Olá, {{ student }}</strong>
<p>O seu pedido de auxilio foi respondido pela academia, confira a resposta abaixo.</p>
<p>
  <strong>Pedido de auxilio: {{ question }}</strong> <br />
  <strong>Criado em: {{ created_at }}</strong> <br />
  <strong>Resposta: {{ answer }}</strong> <br />
  <strong>Respondido em: {{ answer_at }}</strong> <br />
  <br />
  <small>
    Esperamos que a resposta tenha auxiliado no pedido.
  </small>
</p>